.App {
  background-color: #f5f5f5;
}

.App-header {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 4em;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.App-header .companyButton {
  border-color: #5ca4cd;
  color: #5ca4cd;
}

.App-header .companyButton:hover {
  background-color: #5ca4cd;
  color: #fff;
}

.App-header .candidateButton {
  border-color: #5ca4cd;
  background-color: #5ca4cd;
}

.App-header .candidateButton:hover {
  background-color: #528fb3;
}

.searchFormContainer {
  background-color: #5ca4cd;
  color: white;
  padding: 1em;
  border-radius: 0.5em;
}

.searchContainer {
  margin-bottom: 1.5em;
}

.searchFormContainer button {
  background-color: #db7b66;
  text-transform: uppercase;
  border: none;
}

.searchFormContainer button:hover {
  background-color: #e05c3e;
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: white;
  border-radius: 0.5em;
}
